<ion-modal-view>

  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">친구</h1>
      <button class="button button-clear button-primary" ng-click="closeModal()">닫기</button>
  </ion-header-bar>

  <ion-content class="padding">
	  <input type="hidden" id="fpid" ng-model="fpid">
	  <input type="hidden" id="fuser_id" ng-model="fuser_id">
	  <input type="hidden" id="exp" value="{{fexpert}}"/>
	  
  
	<ion-list>
	    <ion-radio ng-value="0" ng-model="fexpert" ng-click="group_key('999')">
	      친구
	    </ion-radio>

		<ion-item ng-if="fexpert == 0">
			<div class="item">
				<p><h2> - GROUP - </h2></p>	
			</div>
			<div ng-repeat="grouplists in grouplist">
				<ion-radio ng-model="fexpert" ng-click="group_key(grouplists.group_sn)"><p><h2>{{grouplists.group_nm}}</h2></p></ion-radio>
				
	        </div>
		</ion-item>

<!-- 	    <ion-radio ng-value="1" ng-model="fexpert" ng-click="group_key('999')">
	      전문가
	    </ion-radio> -->
	</ion-list>
	    
  </ion-content>

  <ion-footer-bar ng-click="friendExpert(fpid,fuser_id)">
    <h2 class="title">
      <i class="button button-full button-positive">확인</i>
    </h2>
  </ion-footer-bar>
  
</ion-modal-view>
