<html>
  <head>
    <meta charset="utf-8">      
    <title>Login Form - Blue</title>
    <link rel="shortcut icon" type="image/ico" href="Images/Favicon.ico">      
    <link href="/css/login-form-blue.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="container">
      <aside>
        <header class="header">
        
        </header>
        <section>
          <form class="login-form" method="post" action="#">
            <fieldset>
              <input type="text" placeholder="아이디">
              <input type="password" placeholder="비밀번호">
              <div class="checkbox">
                <label>
                  <input type="checkbox"/>
                  <p>아이디저장</p>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"/>
                  <p>비밀번호저장</p>
                </label>
              </div>
    
              <button type="button" class="button-blue"><a href="mainkr.html">로그인</a></button>
            </fieldset>
          </form>     
        </section>
    
        <footer class="footer">
            <p><a href="#">아이디를 잊으셨나요?</a></p>
            <a href="#">비밀번호를 잊으셨나요?</a></p>            
        </footer>

        <p>
          <button style="width:300px;" type="button" class="button-blue">회원가입</button>
        </p>
      </aside>  
          
    </div>
  </body>
</html>
