<html>
  <head>
    <meta charset="utf-8">      
    <title>Login Form - Blue</title>
    <link rel="shortcut icon" type="image/ico" href="Images/Favicon.ico">      
    <link href="/css/login-form-blue.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="container">
      <aside>
        <header class="header">
        
        </header>
        <section>
          <form class="login-form" method="post" action="#">
            <fieldset>
              <input type="text" placeholder="ID">
              <input type="password" placeholder="Password">
              <div class="checkbox">
                <label>
                  <input type="checkbox"/>
                  <p>Save my ID</p>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"/>
                  <p>Save my Password</p>
                </label>
              </div>
    
              <button type="button" class="button-blue"><a href="mainen.html">Log in</a></button>
            </fieldset>
          </form>     
        </section>
    
        <footer class="footer">
            <p><a href="#">Did you forget your ID?</a></p>
            <a href="#">Did you forget your password?</a></p>            
        </footer>

        <p>
          <button style="width:300px;" type="button" class="button-blue">Register</button>
        </p>
      </aside>  
          
    </div>
  </body>
</html>
